[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[user]
	name = Serkan Hosca
	email = serkan@hosca.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	fileMode = false
	autocrlf = false
	editor = vim
[merge]
	stat = true
[credential]
	helper = cache --timeout=3600
