[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[user]
	name = Serkan Hosca
	email = serkan@hosca.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	fileMode = false
